# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.sqlite3
*.sqlite3-journal
*.egg-info/
.eggs/

# Virtual environments
backend/venv/
venv/
.env/

# Environment files (keep secrets out of git)
.env
.env.*

# Editor/OS
.DS_Store
.vscode/

# Frontend (React)
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/

frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
